.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.AboutUs-text{
    padding-left: 20px;
    padding-right: 20px;
}
.wrapper {
    text-align: center;
}

.AboutUs-style {
    color: rgb(255, 164, 98);
    padding: 20px;
    margin: 0 20px;
    padding: 20px;
    margin: 0 20px;
    text-decoration: underline;
}
